/* navbar styles */
nav {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #ffffffc4;
  backdrop-filter: blur(20px);
}

.navbar-toggler {
    font-size: 14.7px;
}

ul {
  margin: 0 auto;
  max-width: 1150px;
}

.nav-item {
  margin-right: 20px;
}

.nav-item svg {
  position: absolute;
  top: 16.5px;
}

.nav-link {
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 13px;
}

.nav-link:hover {
  color: #666;
}

.nav-link.active {
  color: #337ab7;
}

.nav-item svg {
  display: flex;
  align-items: center;
  list-style: none;
}

#iPadpro-section {
  position: relative;
  background-color: black;
  height: 77vh;
  width: 100%;
  overflow: hidden;
}
#iPadpro-section img {
  bottom: -20rem;
  width: 1120px;
  z-index: 1;
}
.main-btn-1 {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  background-color: #0071e3;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}
.main-btn-2 {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  background-color: black;
  border: 1px #0071e3 solid;
  color: white;
  font-weight: 600;
  outline: none;
}

.main-text {
  margin-top: 5rem;
  z-index: 10;
}
.main-text h1 {
  font-size: 54px;
}

#mac-section {
  height: 80vh;
  width: 100%;
  background-color: #e3e3e3;
}
#mac-section img {
  width: 500px;
}

#iPhone-section {
  position: relative;
  height: 77vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
#iPhone-section img {
  width: 600px;
  margin-top: 14rem;
}

.button-container button {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2rem;
}

.main-text2 {
  color: white;
}

.gallery-text {
  margin-top: 3rem;
}
.gallery-text-btn {
  background-color: #007bff;
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2rem;
}
.gallery-text-btn2 {
  background-color: #007bff;
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2rem;
}

/* responsive styles */

@media (max-width: 768px) {
  .navbar-nav {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: start;
    margin-top: -3rem;
  }
  .nav-item {
    margin-right: 0;
    margin-left: 2.5rem;
  }
  .nav-link {
    font-size: 28px;
    font-weight: 500;
    color: black;
  }

  .nav-item svg {
    position: absolute;
  }

  .navbar-toggler {
    z-index: 1050; /* Ensure it stays on top */
  }
}

