* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #181818c4;
  backdrop-filter: blur(20px);
}
.nav-link .logo {
  top: 10px;
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  font-size: 14.7px;
  border: none;
  padding: 0;
  text-decoration: none;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  padding: none;
}

.app-icon {
  display: block;
}

ul {
  margin: 0 auto;
  max-width: 1150px;
}

.nav-item {
  margin-right: 20px;
}

.nav-item svg {
  position: absolute;
  top: 16.5px;
}

.nav-link {
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 13px;
  color: rgb(193, 193, 193);
}

.nav-link:hover {
  color: #666;
}

.nav-link.active {
  color: #337ab7;
}

.nav-item svg {
  display: flex;
  align-items: center;
  list-style: none;
}

video {
  padding-top: 2.7rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
#Visionpro-section {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#Visionpro-section img {
  bottom: -20rem;
  width: 1120px;
  z-index: 1;
}
#Visionpro-section .main-btn-2 {
  background-color: transparent;
  font-weight: 400;
  border-color: white;
  margin-top: 15px;
  margin-left: 13px;
}
#Visionpro-section .main-btn-2:hover {
  background-color: white;
  color: black;
}

#Visionpro-section .main-btn-1 {
  color: black;
  background-color: white;
  font-weight: 400;
  margin-top: 15px;
}

#Visionpro-section .main-text {
  position: absolute;
  bottom: 3rem;
  margin: 0;
}

.main-btn-1 {
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  background-color: #0071e3;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}
.main-btn-2 {
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  background-color: black;
  border: 1px #0071e3 solid;
  color: white;
  font-weight: 600;
  outline: none;
}
.main-btn-2:hover {
  background-color: #0071e3;
}

.main-text {
  margin-top: 5rem;
  z-index: 10;
}
.main-text h1 {
  font-size: 48px;
}
.main-text p {
  font-size: 24px;
  font-weight: 400;
}

#mac-section {
  height: 88vh;
  width: 100%;
  background-color: #e3e3e3;
  border-top: 12px solid white;
  border-bottom: 12px solid white;
}
#mac-section img {
  width: 500px;
}

#iPhone-section {
  position: relative;
  height: 77vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}
#iPhone-section img {
  width: 600px;
  margin-top: 14rem;
}

.button-container button {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2rem;
  background-color: #E3E3E3;
}
.button-container button:hover {
  background-color: #007bff;
  color: white;
}

.main-text2 {
  color: white;
}

.card img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove bottom whitespace */
}

.gallery-text {
  margin-top: 3rem;
}

#gallery-section .custom-card {
  height: 100%;
  max-width: 100%; /* Ensure card does not exceed container width */
}

#gallery-section .custom-card img {
  width: 100%; /* Make image take up full width of card */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure image covers the card area */
}

#gallery-section .card-body {
  padding: 1rem; /* Add padding to the card body */
}
#gallery-section .custom-card {
  height: 100%;
  max-width: 100%; /* Ensure card does not exceed container width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gallery-section .custom-card img {
  max-width: 100%; /* Ensure image does not exceed card width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure image covers the card area */
  display: block;
  margin: 0 auto; /* Center image horizontally */
}

#gallery-section .card-body {
  padding: 1rem; /* Add padding to the card body */
}

.gallery-btn1 {
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  background-color: #0071e3;
  color: white;
  font-weight: 400;
  border: none;
  outline: none;
  text-decoration: none;
}
.gallery-btn2 {
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  background-color: transparent;
  color: #007bff;
  margin: 15px 0 0 13px;
  font-weight: 400;
  border: none;
  outline: none;
  text-decoration: none;
  border: 1px solid #007bff;
}




.carousel-inner {
  display: flex;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent; /* Red color for the icons */
  width: 20px;
  height: 20px;
  background-size: 100%, 100%;
}

.carousel-item img {
  height: 95vh; /* change the height to your desired value */
  object-fit: contain; /* optional, to maintain image aspect ratio */
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}

.carousel-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 1s ease-in-out;
}
.carousel-item button {
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 10px;
}


.scroll-item button {
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scroll-item:hover button {
  opacity: 1;
  transform: translateY(-10px);
}

.scroll-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background: white;
  height: 40vh;
}

.scroll-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: scroll 20s linear infinite;
}

.scroll-item {
  position: relative;
}

.scroll-item img {
  height: 240px;
  margin-right: 10px; /* Adjust the spacing as needed */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.scroll-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}

.scroll-item:hover::before {
  background: rgba(0, 0, 0, 0.5);
}

.scroll-item:hover img {
  filter: brightness(0.7);
  transform: scale(1.05);
}

.scroll-content:hover {
  animation-play-state: paused;
}

.stream-now-btn {
  position: absolute;
  background-color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 16px;
}










@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* responsive styles */

@media (max-width: 768px) {
  .navbar-nav {
    height: 100vh;
    margin-top: -3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    padding-bottom: 5rem;
  }
  .nav-item svg {
    display: none;
  }

  .nav-item {
    margin-right: 0;
    margin-left: 2.2rem;
  }
  .nav-link {
    font-size: 28px;
    font-weight: 500;
    color: white;
    padding: 3px 0;
  }

  .nav-item svg {
    position: absolute;
  }

  .navbar-toggler {
    z-index: 1050; /* Ensure it stays on top */
  }

  .scroll-item img {
    height: 180px;
    margin-right: 10px; /* Adjust the spacing as needed */
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  video {
    padding-top: 3.2rem;
  }
  #Visionpro-section {
    height: 78vh;
  }
  #mac-section {
    height: 73vh;
  }
}
@media (min-width: 768px) {
  nav {
    height: 44px;
  }
}



@media (max-width: 992px) {
  .app-icon {
    margin: 8px;
    padding: 1px;
  }
  .carousel-item img {
    height: 100%; /* change the height to your desired value */
    object-fit: cover; /* optional, to maintain image aspect ratio */
  }
  .mob-bag-icon {
    position: fixed;
    right: 60px;
  }
  .mob-search-icon {
    position: fixed;
    right: 110px;
  }

}

@media (min-width: 992px) {
  .app-icon {
    display: none;
  }
  .mob-bag-icon {
    display: none;
  }
  .mob-search-icon {
    display: none;
  }
}
